@model Demo01.Dtos.LoginDto
@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="d-flex justify-content-center align-items-center vh-100 rounded-1">
        <div class="col-md-6" style="height: 500px;">
            <div class="d-flex justify-content-center m-3">
                <h3 class="text-success fw-bold">Login</h3>
            </div>
            <form asp-action="Index" class=" form-control border-1 shadow-lg vh-50 w-100">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-4">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control rounded-3 mt-2" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group m-4">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control rounded-3 mt-2" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group m-2 d-flex justify-content-end">
                    <input type="submit" value="Login" class="btn btn-primary py-2 m-lg-2" style="min-width: 120px;" />
                    <input type="button" value="Cancel" class="btn btn-secondary py-2 m-2" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
